extends layout

block content
  include includes/loan_menus/loan_filters
  include includes/loan_menus/loan_table
    each loan in loans
      tr
        td
          a=loan.Book.title
        td
          a=loan.Patron.first_name+' '+loan.Patron.last_name
        td=loan.loaned_on
        td=loan.return_by
        td=loan.returned_on
        td
          a(href='/return_book' class='button') Return Book
