extends layout

block content
  include includes/loan_menus/loan_filters
  include includes/loan_menus/loan_table
    each loan in loans
      tr
        td
          a(href='/all_books/'+loan.Book.id)=loan.Book.title
        td
          a(href='all_patrons/'+loan.Patron.id)=loan.Patron.first_name+' '+loan.Patron.last_name
        td=loan.loaned_on
        td=loan.return_by
        td=loan.returned_on
        if !loan.returned_on
          td
            a(href='/return_book/'+loan.id class='button') Return Book
