extends layout

block content
  h1 Return Book

  p='Book Title: '+loan.Book.title
  p='Loaned By: '+loan.Patron.first_name+' '+loan.Patron.last_name
  p='Loaned On: '+loan.loaned_on
  p='Return By: '+loan.return_by
  p
    label(for='returned_on') Returned On:
    input(type='text' id='returned_on' value=moment().format('YYYY-MM-DD'))

  p
    input(type='submit' value='Return Book')
